* {
    font-family: "Inter", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Normal weight */
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    background-color: black;
    height: 100vh;            /* Full viewport height */
    margin: 0;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo1 {
    position: absolute;  
    left: 0;            /* Aligns the logo to the left */
}

nav {
    font-size: 17px;
    padding-right: 30px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}

.nav-bar ul li {
    padding-left: 40px;
    transition: transform 0.3s ease-in-out;
}

.nav-bar ul li:hover {
    transform: translateY(-10px);
}

.nav-bar ul li a {
    text-decoration: none;
    color: #7297F4;
}

.signup-box {
    display: grid;
    place-items: center;
}

.box {
    height: 70vh;  
    margin: 100px;
    width: 500px;   /* Adjusted width for better visibility */
    background: rgb(27, 26, 26);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: width 0.5s ease; /* Smooth transition for resizing */
}

/* Media Queries */
@media (max-width: 1024px) { /* Smaller laptops / large tablets */
    .box {
        width: 70%; /* Reduces width to 70% of viewport */
    }
}

@media (max-width: 768px) { /* Tablets */
    .box {
        width: 85%; /* Further reduces width to 85% of viewport */
    }
}

@media (max-width: 480px) { /* Mobile Phones */
    .box {
        width: 95%; /* Maximizes width for mobile devices */
        margin: 50px 0; /* Reduces vertical margin */
    }
}

.box h1 {
    padding-top: 15%;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
    background-image: linear-gradient(to right, #1B44D4, #EDEDFA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    flex-wrap: wrap;
}

.inside-box {
    display: grid;
    place-items: center;
    padding-top: 30px;
}

.box h2 {
    font-weight: 100;
    background-image: linear-gradient(to left, #1B44D4, #EDEDFA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

input[type="text"], input[type="password"] {
    width: 290px;
    color: black;
    background-color: rgb(173, 171, 171);
    border: none;
}

.inside-box button {
    align-items: center;
    margin-top: 10%;
    border-radius: 40px;
    width: 30%;
    height: 50%;
    background: linear-gradient(to right, #1B44D4, #EDEDFA);
}

.inside-box button a {
    font-size: 20px;
    text-decoration: none;
}

