* {
    font-family: "Inter", sans-serif;
}

body {
    background: black;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Example: 'normal' weight for most browsers */
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.logo{
    height:100px;
    width: 100px;
}

.logo1 {
    position: absolute;  /* Changed from relative */
    left: 0;            /* Aligns the logo to the right */
}


nav{
    font-size: 17px;
    padding-right: 30px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    padding: 0;

}

.nav-bar ul li{
    
    padding-left: 40px;
    transition: transform 0.3s ease-in-out;
}

.nav-bar ul li:hover{
    transform: translateY(-10px);
}

.nav-bar ul li a{
    text-decoration: none;
    color: #7297F4;
}

.title {
    padding-top: 10%;
    text-align: center;
    font-size: 60px;
    background-image: linear-gradient(to right, #F0DDDD, #3D0FF6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title h1{
    font-weight: 300;
}

.title-message {
    text-align: center;
    padding-top: 5px;
    background-image: linear-gradient(to right, #F0DDDD, #3D0FF6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title-message h2{
    font-weight: 300;
}

.create-button {
    padding-top: 4%;
    text-align: center;

}

.create-button button{
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    border-color: black;
    background: linear-gradient(to right, #1B44D4, #EDEDFA);;
    transition-duration: background 0.3s;
}

.create-button button:hover {
    background: linear-gradient(to left, #F0DDDD, #3D0FF6) ; 
    box-shadow: 0, 8, 10;
    cursor: pointer;
}